<h2>Image List</h2>

<form method="GET" style="margin-bottom: 20px;">
    <label>
        <input type="checkbox" name="show_encrypted" value="true" {% if show_encrypted %}checked{% endif %}> Show only encrypted images
    </label>
    <button type="submit" style="padding: 5px 10px; background-color: #007bff; color: white; border: none; border-radius: 5px;">Filter</button>
</form>

<div>
    {% if images %}
        {% for image in images %}
            <div style="margin-bottom: 20px;">
                <p>{{ image.Key }}</p>
                <img src="https://{{ AWS_STORAGE_BUCKET_NAME }}.s3.{{ AWS_S3_REGION_NAME }}.amazonaws.com/{{ image.Key }}" alt="{{ image.Key }}" width="300">

                <a href="https://{{ AWS_STORAGE_BUCKET_NAME }}.s3.{{ AWS_S3_REGION_NAME }}.amazonaws.com/{{ image.Key }}" 
                download="{{ image.Key }}" 
                style="display:inline-block; padding: 10px 15px; margin-top: 10px; background-color: #28a745; color: white; text-decoration: none; border-radius: 5px;">
                 Download
             </a>
            </div>
        {% endfor %}
    {% else %}
        <p>No images found.</p>
    {% endif %}
</div>
